* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#canvas1 {
  border: 5px solid #1f5f3b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #5b8cba;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Bangers', cursive;
}

#layer1, #layer2, #layer3, #layer4, #player, #angler1, #angler2, #lucky, 
#projectile, #gears, #hivewhale, #drone, #smokeExplosion, #fireExplosion {
  display: none;
}

.boton-regreso {
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px 18px;
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    z-index: 9999;
}

.boton-regreso:hover {
    background-color: #444;
}