body{
    margin:0;
    background:#87CEEB;
    font-family:Arial, sans-serif;
    text-align:center;
}

h1{
    color:#0b4f1b;
}

#contenedor{
    position:relative;
    display:inline-block;
}

canvas{
    border:4px solid #0b4f1b;
    background:linear-gradient(#87CEEB,#c8f7c5);
}

#gameOver{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px black;
}

.oculto{
    display:none;
}

button{
    background:#0b4f1b;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}